@model BeanSceneMVC.ViewModels.ReservationViewModel

@{
    ViewData["Title"] = "Edit reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string sessionText = $"{Model.Reservation.Date.ToShortDateString()} - {Model.Reservation.Sitting.SittingType.Name} ({Model.Reservation.Sitting.StartTime.TimeFormatted}-{Model.Reservation.Sitting.EndTime.TimeFormatted})";
}


<h1>Edit reservation</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="d-flex flex-column gap-2">

            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Reservation.Id" />
            <input type="hidden" asp-for="Reservation.UserId" />
            <input type="hidden" asp-for="Reservation.Date" />
            <input type="hidden" asp-for="Reservation.SittingTypeId" />
            <input type="hidden" asp-for="SittingId" />

            @* Sitting is disabled as it should not change *@
            <div class="form-group">
                <label class="control-label">Sitting</label>
                @*<select asp-for="SittingId" class="form-control" asp-items="Model.SittingList"></select>*@
                <input class="form-control" disabled value="@sessionText" />
            </div>

            <div class="form-group d-flex gap-2">
                <div class="flex-grow-1">
                    <label asp-for="Reservation.StartTimeId" class="control-label"></label>
                    <select asp-for="Reservation.StartTimeId" class="form-control" asp-items="Model.TimeslotList"></select>
                    <span asp-validation-for="Reservation.StartTimeId" class="text-danger"></span>
                </div>
                <div class="flex-grow-1">
                    <label asp-for="Reservation.EndTimeId" class="control-label"></label>
                    <select asp-for="Reservation.EndTimeId" class="form-control" asp-items="Model.TimeslotList"></select>
                    <span asp-validation-for="Reservation.EndTimeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group d-flex gap-2">
              
                <div class="flex-grow-0">
                    <label asp-for="Reservation.NumberOfPeople" class="control-label"></label>
                    <input asp-for="Reservation.NumberOfPeople" class="form-control" />
                    <span asp-validation-for="Reservation.NumberOfPeople" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Reservation.Status" class="control-label"></label>
                <select asp-for="Reservation.Status" class="form-control" asp-items="@Html.GetEnumSelectList<Reservation.StatusEnum>()"></select>
                <span asp-validation-for="Reservation.Status" class="text-danger"></span>
            </div>

            <div class="form-group d-flex gap-2">
                <div class="flex-grow-1">
                    <label asp-for="Reservation.FirstName" class="control-label"></label>
                    <input asp-for="Reservation.FirstName" class="form-control" />
                    <span asp-validation-for="Reservation.FirstName" class="text-danger"></span>
                </div>
                <div class="flex-grow-1">
                    <label asp-for="Reservation.LastName" class="control-label"></label>
                    <input asp-for="Reservation.LastName" class="form-control" />
                    <span asp-validation-for="Reservation.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Email" class="control-label"></label>
                <input asp-for="Reservation.Email" class="form-control" />
                <span asp-validation-for="Reservation.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Phone" class="control-label"></label>
                <input asp-for="Reservation.Phone" class="form-control" />
                <span asp-validation-for="Reservation.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Note" class="control-label"></label>
                <textarea asp-for="Reservation.Note" class="form-control"></textarea>
                <span asp-validation-for="Reservation.Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">

        <h2>Tables assigned</h2>

        <div class="row">
            <form asp-action="AssignTable" class="col-md-6 d-flex flex-column gap-2">
                <input type="hidden" name="reservationId" value="@Model.Reservation.Id" />

                <div class="form-group">
                    <label for="assignTableCode" class="control-label">Available tables</label>
                    <select id="assignTableCode" name="tableCode" class="form-control" multiple asp-items="Model.UnassignedTablesList"></select>
                    @*<span asp-validation-for="Reservation.Status" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Assign" class="btn btn-primary" />
                </div>
            </form>
            <form asp-action="UnassignTable" class="col-md-6 d-flex flex-column gap-2">
                <input type="hidden" name="reservationId" value="@Model.Reservation.Id" />

                <div class="form-group">
                    <label for="unassignTableCode" class="control-label">Assigned tables</label>
                    <select id="unassignTableCode" name="tableCode" class="form-control" multiple asp-items="Model.AssignedTablesList"></select>
                    @*<span asp-validation-for="Reservation.Status" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Unassign" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@*@model BeanSceneMVC.Models.Reservation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <select asp-for="Date" class="form-control" asp-items="ViewBag.Date"></select>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SittingTypeId" class="control-label"></label>
                <select asp-for="SittingTypeId" class="form-control" asp-items="ViewBag.SittingTypeId"></select>
                <span asp-validation-for="SittingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTimeId" class="control-label"></label>
                <select asp-for="StartTimeId" class="form-control" asp-items="ViewBag.StartTimeId"></select>
                <span asp-validation-for="StartTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeId" class="control-label"></label>
                <select asp-for="EndTimeId" class="form-control" asp-items="ViewBag.EndTimeId"></select>
                <span asp-validation-for="EndTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPeople" class="control-label"></label>
                <input asp-for="NumberOfPeople" class="form-control" />
                <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <select asp-for="Source" class="form-control"></select>
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@