@*@model BeanSceneMVC.Models.Sitting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sitting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="SittingTypeId" />
            <div class="form-group">
                <label asp-for="StartTimeId" class="control-label"></label>
                <select asp-for="StartTimeId" class="form-control" asp-items="ViewBag.StartTimeId"></select>
                <span asp-validation-for="StartTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeId" class="control-label"></label>
                <select asp-for="EndTimeId" class="form-control" asp-items="ViewBag.EndTimeId"></select>
                <span asp-validation-for="EndTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

@model BeanSceneMVC.ViewModels.SittingViewModel

@{
    ViewData["Title"] = "Edit sitting";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="d-flex flex-column gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sitting.Date"/>
            <input type="hidden" asp-for="Sitting.SittingTypeId"/>
            <div class="form-group">
                <label asp-for="Sitting.Date" class="control-label"></label>
                <input disabled asp-for="Sitting.Date" class="form-control" />
                <span asp-validation-for="Sitting.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitting.SittingTypeId" class="control-label"></label>
                <select disabled asp-for="Sitting.SittingTypeId" class ="form-control" asp-items="Model.SittingTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sitting.StartTimeId" class="control-label"></label>
                <select asp-for="Sitting.StartTimeId" class ="form-control" asp-items="Model.TimeslotList"></select>
                <span asp-validation-for="Sitting.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitting.EndTimeId" class="control-label"></label>
                <select asp-for="Sitting.EndTimeId" class ="form-control" asp-items="Model.TimeslotList"></select>
                <span asp-validation-for="Sitting.EndTimeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitting.Status" class="control-label"></label>
                <select asp-for="Sitting.Status" class="form-control" asp-items="Html.GetEnumSelectList<Sitting.StatusEnum>()"></select>
                <span asp-validation-for="Sitting.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitting.Capacity" class="control-label"></label>
                <input asp-for="Sitting.Capacity" class="form-control" />
                <span asp-validation-for="Sitting.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index"class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

