html {
    /*font-size: 14px;*/
    font-size: 62.5%;
    
}

@media (min-width: 768px) {
    html {
        /*  font-size: 16px;*/
        font-size: 1.6rem;
        
    }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
}

.table {
    color:white
}
.form-floating label {
    color: #4AA1B5
}
.form-floating {

margin-bottom:15px;
}


.light-mode .table { color:black;
}

body .btn-primary {
    background-color: #4AA1B5;
    border-color: #EBC136;
  
    font-weight: 500
}
body .btn-secondary {
    border-color: #EBC136;
    background-color: #2F6672;
    font-weight: 500
}
body .btn-danger {
    border-color: #EBC136;
    background-color: #083944;
    font-weight: 500
}

.switch{
background-color:black;
    color:white;
}

/*

--typography

Large headings: Tangerine
Primary typeface: Open Sans (body) and Open Sans (headings)


---Colours
Bean Dark Blue:#083944
Bean Mid Blue:#2F6672
Bean Light Blue:#4AA1B5

White:#FFFFFF

Bean Gold:#EBC136
Bean Pale Gold:#F8E8B5
Bean Dark Gold:#CC9E09

Bean Light Grey:#E0E0E0
*/

@font-face {
    font-family: 'tangerine-bold';
    src: url('../font/tangerine/tangerine-bold.ttf') format('truetype');
}

.large-heading,h1 {
    font-family: tangerine-bold;
    font-size: 7rem;
    color: #EBC136;
}

.bean-dark-blue-text {
    color: #083944;
}

.hero {
    /*height: 100vh; */
   /* position: relative;*/
    background-image: linear-gradient(rgba(34, 34, 34, 0.60),rgba(34, 34, 34, 0.60)), url(../Images/Background/Hero.jpg);
    background-size: cover;
    color: #fff;
}
/*.dark-mode .hero {
background-image:none;
color:#000;

}*/

.bean-light-blue {
    background-color: #4AA1B5;
    border-bottom: 3px solid #EBC136;
}

/*BEM = block__element--modifier*/
/* Specific styling for library cards (with images in header) */
/*bem?*/
.card--library {
 
}
article {
    color: #083944
}

    .card--library .card-header {
        height: 120px;
    }

    .card--library .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/* Book cards, e.g. Books/ViewAll */
.menu-card {
}
/*Set a fixed height on the image container (constraint book images to same area)*/
.menu-card__image-container {
    height: 250px;
    /*max-height: 100%;*/
    text-align: center;
}

    /*Dont let the book image grow outside of the image container*/
    .menu-card__image-container img {
       /* max-height: 100%;
        width: auto;
        max-width: 100%;
        height: auto;*/
       height:100%;
       width:100%;
       object-fit:cover;
       
    }

.menu-card__title {
    font-size: 1.3em;
    margin-top: 0.8em;
}

.menu-card__description {
    height: 250px;
    overflow-y: auto;
}

.menu-card__more-info {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
    text-align: center;
}
h1 {
text-align:center
}



/*manage menus*/



.manage-menus-table td {
vertical-align:middle;
}

.manage-menus-table .menu-image-thumbnail {
    max-height: 50px;
    width: auto;
}

/*.fill-box {
height:100%;
width:fit-content

}*/

/*book search*/

.menu-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0;
}

    .menu-search-form .btn > i {
        margin-right: 0.2em;
    }


/*Available/unavailable icons in tables*/
/*.status-available::before,
.status-unavailable::before{*/

:is(.status-available, .status-unavailable)::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-size: 1.3em;
    line-height: 1;
    vertical-align: -0.2em;
}


.status-available::before {
    content: "\F26A";
    color: #18bd2e;
}

.status-unavailable::before {
    content: "\F622";
    color: #ff0000;
}



.card-body {
    background-color: #E0E0E0
}





/*quill*/
.ql-toolbar.ql-snow {
    background-color: #FFFFFF; /* Replace with your desired color */
}

.ql-container {
    border-radius: 0 !important;
}

/*checkbox*/

table input[type="checkbox" i]:disabled {
    color: red;
}