<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeanScene Cuisine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeanSceneMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hero">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bean-light-blue">
            <div class="container-fluid">
                <a class="navbar-brand bean-dark-blue-text" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo/images/logo/png/logo-primary-transparent.png" width="100" height="35" alt="BeanScene Cuisine logo">
                    BeanScene Cuisine</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MenuItems" asp-action="ViewAll">Menu</a>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-tag-fill"></i>
                                Menu Category
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MenuCategories" asp-action="Index">Manage category</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MenuCategories" asp-action="Create">Add category</a>
                                </li>
                            </ul>                        
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-book-fill"></i>
                                Menu items
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MenuItems" asp-action="Index">Manage menu items</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="MenuItems" asp-action="Create">Add menu items</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-square-fill"></i>
                                Tables
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Areas" asp-action="Index">Manage area</a>
                                </li>
                               
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Areas" asp-action="Create">Add area</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Index">Manage table</a>
                                </li>

                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Create">Add table</a>
                                </li>

                            </ul>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill"></i>
                                Sitting
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Sittings" asp-action="Index">Manage sittings</a>
                                </li>
                               
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Sittings" asp-action="Create">Add sitting</a>
                                </li>
                                

                            </ul>

                        </li>

                    </ul>
                    <button onclick="toggleLightMode()">Toggle Dark Mode</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BeanScene Cuisine - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
