@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 large-heading">Welcome</h1>
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="row">
  
    <div class=" col-12 col-md-6 text-center  "><a class="btn btn-primary px-5" asp-area="" asp-controller="MenuItems" asp-action="ViewAll">Menu</a></div>
    <div class=" col-12 col-md-6  text-center"><a class="btn btn-primary " asp-area="" asp-controller="Reservations" asp-action="Create">Reservation(Guest)</a></div>

</div>
